<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>

</head>

<body>
    <!-- footer block -->
    <footer class="w3l-footer-29-main">
        <div class="footer-29 pt-5 pb-4">
            <div class="container pt-md-4">
                <div class="row footer-top-29">
                    <div class="col-lg-4 col-md-6 footer-list-29">
                        <h6 class="footer-title-29">Контакты</h6>
                        <p class="mb-2">Наш номер : <a href="tel:+1(21) 234 4567">+7 778 345 9164</a></p>
                        <p class="mb-2">Email : <a href="mailto:info@eazyschool.com">.com</a></p>
                    </div>
                    <div class="col-lg-2 col-md-3 col-6 footer-list-29 mt-md-0 mt-4">
                        <ul>
                            <h6 class="footer-title-29">Мы</h6>
                            <li><a th:href="@{/home}">О нас</a></li>
                            <li><a th:href="@{/contact}">Напишите нам</a></li>
                            <li><a th:href="@{/contact}">Карьера</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- //footer block -->
</body>

</html>